<div class="flex flex-col">

<button class="self-end mr-2 mt-4" nz-button nzType="primary" (click)="rescanCertificates()">
  <ng-icon name="bootstrapBoxArrowDown"></ng-icon>
  Rescan SSL Certificates</button>
  <nz-table class="mt-4" #filterTable [nzData]="certificates" nzTableLayout="fixed" [nzLoading]="isLoading"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th nzColumnKey="name" [nzSortFn]="true">
          Name
        </th>
        <th>
          Server
        </th>
        <th nzColumnKey="issuer" [nzSortFn]="true">
          Issuer
        </th>
        <th nzColumnKey="validNotBefore" [nzSortFn]="true">
          Valid Not Before
        </th>
        <th nzColumnKey="validNotAfter" [nzSortFn]="true">
          Valid Not After
        </th>
        <th nzColumnKey="dateUpdated" [nzSortFn]="true">
          Last Updated
        </th>
        <th nzColumnKey="fileAttached" [nzSortFn]="true">
          FileAttached
        </th>
      </tr>
    </thead>
    <tbody>
      @for (data of filterTable.data; track data) {
      <tr (click)="openEditCertModal(data.id, data.name)">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.serverEntity != null ? data.serverEntity.name : '-' }}</td>
        <td>{{ data.issuer }}</td>
        <td>{{ getDate(data.validNotBefore) }}</td>
        <td>{{ getDate( data.validNotAfter) }}</td>
        <td>{{ getDate( data.lastUpdated) }}</td>
        <td>
          <ng-container>
            <ng-icon *ngIf="data.isUpToDate" name="bootstrapCheckCircle" color="green"></ng-icon>
            <ng-icon *ngIf="!data.isUpToDate" name="bootstrapX" color="red"></ng-icon>
          </ng-container>


        </td>
      </tr>
      }
    </tbody>
  </nz-table>
  <!-- <app-cert-edit
  *ngIf="certNameToEdit != ''"
  [certName]="certNameToEdit"
  (certNameChanged)="updateCertName($event)"
  ></app-cert-edit> -->
  
</div>