<div class="flex flex-col">
  <div class="flex flex-row">
<button class="self-start ml-2 mr-2 mt-4" nz-button nzType="primary" (click)="openAddServerModal()">
<ng-icon name="bootstrapHddRack"></ng-icon>
  Add new server
</button>
<button class="self-end mr-2 mt-4" nz-button nzType="primary" (click)="recreateConfig()">
<ng-icon name="bootstrapGear"></ng-icon>
  Recreate Config
</button>
  </div>


  <nz-table class="mt-4" #filterTable [nzData]="servers" nzTableLayout="fixed" [nzLoading]="loading"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>
          Id
        </th>
                <th nzColumnKey="name" [nzSortFn]="true">
          Name
        </th>
        <th >
          Url And Port
        </th>
        <th nzColumnKey="active" [nzSortFn]="true">
            Active
        </th>
        <th>
          Synced/UsesRawSettings
        </th>
        <th>
            Http/Https/RedirectsToHttps
        </th>
        <th nzColumnKey="lastUpdated" [nzSortFn]="true">
          Last Updated
        </th>
      </tr>
    </thead>
    <tbody>
      @for (data of filterTable.data; track data) {
      <tr>
        <td>{{ data.id }}</td>
        <td>{{data.name}}</td>
        <td>{{ data.target }}:{{data.targetPort}}</td>
        <td>{{data.active}}</td>
        <td><div>
          <ng-icon *ngIf="data.isUpToDate" name="bootstrapCloudCheck" color="green"></ng-icon>
          <ng-icon *ngIf="!data.isUpToDate" name="bootstrapCloudCheck" color="red"></ng-icon>
          <ng-icon *ngIf="data.rawSettings" name="bootstrapBodyText" color="green"></ng-icon>
          <ng-icon *ngIf="!data.rawSettings" name="bootstrapBodyText" color="red" ></ng-icon>
        </div></td>
                <td><div>
                            <ng-icon *ngIf="data.usesHttp" name="bootstrapGlobe" color="green"></ng-icon>
          <ng-icon *ngIf="!data.usesHttp" name="bootstrapGlobe" color="red"></ng-icon>
          <ng-icon *ngIf="data.certificate" name="bootstrapKey" color="green"></ng-icon>
          <ng-icon *ngIf="!data.certificate" name="bootstrapKey" color="red" ></ng-icon>
                    <ng-icon *ngIf="data.redirectsToHttps" name="bootstrapShuffle" color="green"></ng-icon>
          <ng-icon *ngIf="!data.redirectsToHttps" name="bootstrapShuffle" color="red" ></ng-icon>
        </div></td>
        <td>{{ getDate( data.lastUpdated) }}</td>
      </tr>
      }
    </tbody>
  </nz-table>
  
</div>
