<div class="flex flex-col">
  <div class="flex flex-row">
<button class="self-start ml-2 mr-2 mt-4 flex" nz-button nzType="primary" (click)="openAddServerModal()">
<ng-icon class="self-center" name="bootstrapHddRack"></ng-icon>
  Add new server
</button>
<button class="self-end mr-2 mt-4 flex" nz-button nzType="primary" (click)="recreateConfig()">
<ng-icon class="self-center" name="bootstrapGear"></ng-icon>
  Recreate Config
</button>
<button class="self-end mr-2 mt-4 flex" nz-button nzType="primary" (click)="restartNginx()">
<ng-icon class="self-center" name="bootstrapGear"></ng-icon>
  Restart Nginx
</button>
  </div>
  <div class="mt-2">
    <nz-input-group class="w-1/4 min-w-[200px]" nzSearch [nzAddOnAfter]="suffixIconButton">
      <input [(ngModel)]="filterInput" type="text" nz-input placeholder="Filter" (keydown.enter)="applyFilter()"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <div class="flex flex-row">
      <button class="flex" nz-button nzType="default" (click)="applyFilter()">
        <ng-icon class="self-center" name="bootstrapSearch"></ng-icon>
      </button>
            <button class="flex" nz-button nzType="default" (click)="resetFilter()">
        <ng-icon class="self-center" name="bootstrapX" color="red"></ng-icon>
      </button>
      </div>

    </ng-template>    
  </div>

  <nz-table class="mt-4" #filterTable [nzData]="servers" nzTableLayout="fixed" [nzLoading]="isLoading"
    (nzQueryParams)="onQueryParamsChange($event)"
    [nzShowPagination]="false">
    <thead>
      <tr>
        <th nzWidth="50px">
          Id
        </th>
                <th nzColumnKey="name" [nzSortFn]="true">
          Name
        </th>
        <th nzWidth="150px" >
          Url And Port
        </th>
        <th nzColumnKey="active" [nzSortFn]="true" nzWidth="80px">
            Active
        </th>
        <th [nzSortFn]="false" nzWidth="80px">
            Is in Config
        </th>
        <th [nzSortFn]="false">
          Protocols
        </th>
        <th nzColumnKey="lastUpdated" [nzSortFn]="true">
          Last Updated
        </th>
        <th nzWidth="80px" [nzSortFn]="false">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      @for (data of filterTable.data; track data) {
      <tr>
        <td>{{ data.id }}</td>
                <td class="interact-table-col" (click)="openChangeServerModal(data)">
           <span class="flex self-center">{{ data.name }} <ng-icon class="self-center" name="bootstrapPencilSquare" color="#1890ff"></ng-icon></span></td>
        <td>
          <span *ngIf="!data.rawSettings">
            {{ data.target }}:{{data.targetPort}}
          </span>
                    <span *ngIf="data.rawSettings">
            -
          </span>
        </td>
        <td>
            <span class="flex self-center">
            <ng-icon *ngIf="data.active" name="bootstrapCheckCircle" color="green"></ng-icon>
            <ng-icon *ngIf="!data.active" name="bootstrapX" color="red"></ng-icon>
          </span>
        </td>
        <td>
            <span class="flex self-center">
            <ng-icon *ngIf="data.isUpToDate" name="bootstrapCheckCircle" color="green"></ng-icon>
            <ng-icon *ngIf="!data.isUpToDate" name="bootstrapX" color="red"></ng-icon>
          </span>
        </td>
        <td>
          <div class="flex flex-col">
            <span class="flex" *ngIf="data.usesHttp && !data.rawSettings">
              Http
              <ng-icon class="self-center"  name="bootstrapGlobe"></ng-icon>
            </span>
            <span class="flex" *ngIf="data.certificate && !data.rawSettings">
              Https
              <ng-icon class="self-center" name="bootstrapKey"></ng-icon>
            </span>
            <span class="flex" *ngIf="data.redirectsToHttps && !data.rawSettings">
              Redirect Traffic to Https
              <ng-icon class="self-center" name="bootstrapShuffle"></ng-icon>
            </span>
            <span class="flex" *ngIf="data.rawSettings">
              Uses Custom Settings
              <ng-icon class="self-center" name="bootstrapBodyText"></ng-icon>
            </span>
          </div>
        </td>
        <td>{{ getDate( data.lastUpdated) }}</td>
        <td>
                    <a
                nz-popconfirm
      [nzIcon]="iconPopConfirm"
      nzPopconfirmTitle="Are you sure to delete entry {{data.name}}?"
      [nzOkDanger]="true"
      (nzOnConfirm)="deleteServer(data.id, data.name)"><ng-icon name="bootstrapTrash" color="red"></ng-icon>
        </a>
        </td>
        <ng-template #iconPopConfirm>
          <span class="flex self-center">
            <ng-icon name="bootstrapExclamationOctagon" color="red"></ng-icon>
          </span>
        </ng-template>
      </tr>
      }
    </tbody>
  </nz-table>
  
</div>
